@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --clOrange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --clWhite: hsl(0, 0%, 100%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightgrayishBlue: hsl(223, 64%, 98%);
  --darkgrayishBlue: hsl(219, 9%, 45%);
  --clBlack: hsl(0, 0%, 0%);
  --darkBlue: hsl(220, 13%, 13%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  background-color: var(--clWhite);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.9rem 0;
}
button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 0em 0em 0em 0em;
  padding-block: 0;
  padding-inline: 0;
}

/* NAVBAR */
.navbar {
}
.navCon {
  height: 6rem;
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--clWhite);
  border-bottom: 1px solid var(--grayishBlue);
}
.nav-left {
  display: flex;
  align-items: center;
}
.menu-btn {
  display: none;
}
.product-logo {
  height: 1.3rem;
  margin-right: 0;
  padding-right: 0;
}
.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.mobileClose-btn {
  display: none;
}
.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--darkgrayishBlue);
  padding-bottom: 2.2rem;
}
.nav-link:hover {
  border-bottom: 3px solid var(--clOrange);
}
.nav-right {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-btn {
  border: none;
  background-color: var(--clWhite);
  text-align: center;
}
.productNoCart {
  position: absolute;
  bottom: 1rem;
  margin-left: 0.6rem;
  z-index: 3;
  background-color: var(--clOrange);
  color: var(--lightgrayishBlue);
  width: 1.3rem;
  border-radius: 0.9rem;
}
.cart-img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.avatar-img {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.avatar-img:hover {
  border: 2px solid var(--clOrange);
  border-radius: 50%;
}

@media screen and (max-width: 1070px) {
  .navCon {
    margin: 0 3rem;
    gap: 0.5rem;
  }
  .nav-left {
    display: grid;
    grid-template-columns: 8rem 1fr;
  }
  .nav-link {
    margin: 0 0.5rem;
  }
  .cart-img {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 760px) {
  .navbar {
    padding-bottom: 2rem;
  }
  .navCon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    background-color: var(--clWhite);
    z-index: 5;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
  }
  .nav-left {
    display: grid;
    grid-template-columns: 2rem 1rem;
    padding-left: 2rem;
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
  }
  .menu-btn {
    display: inline;
    cursor: pointer;
  }
  .nav-links {
    z-index: 100;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clWhite);
    height: 100%;
    width: 13rem;
    padding-left: 3rem;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  .nav-links.active {
    transform: translateX(0%);
  }
  .mobileClose-btn {
    display: block;
    padding: 1rem 0 1.5rem 0;
    cursor: pointer;
  }
  .nav-link {
    display: block;
    color: hsl(0, 0%, 0%);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 0 0 0;
  }
  .nav-link:hover {
    border-bottom: none;
  }
}
@media screen and (max-width: 500px) {
  .nav-left {
    padding-left: 1rem;
  }
  .nav-right {
    padding-right: 1rem;
  }
}
/* 
*/
/* 
 */
/* Cart */
.cart {
  position: fixed;
  width: 22rem;
  min-height: 13rem;
  right: 5rem;
  top: 5.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: var(--clWhite);
  border-radius: 0.9rem;
  display: none;
  z-index: 10;
}
.cart h3 {
  padding: 0.2rem 0 1.1rem 1.2rem;
  border-bottom: 1px solid var(--grayishBlue);
}
.emptyCart {
  color: var(--darkgrayishBlue);
  text-align: center;
  padding-top: 2.5rem;
}
.cartInfo {
  display: grid;
  grid-template-columns: 3rem 1fr 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem;
}

.cartSec-img {
  width: 3rem;
  height: 3rem;
  justify-self: flex-start;
  padding-left: 0.3rem;
}
.cartInfo p {
  font-size: 0.8rem;
  justify-self: center;
  padding-left: 0.3rem;
  line-height: 1.5;
}
.total-price {
  font-weight: 700;
  font-size: 1rem;
}
.delete-img {
  cursor: pointer;
  justify-self: end;
  padding-right: 0.7rem;
}
.cart button {
  background-color: var(--clOrange);
  width: 95%;
  margin: 0.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  text-align: center;
  transition: 0.8s all ease;
}
.cart button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1070px) {
  .cart {
    right: 1.7rem;
  }
}
@media screen and (max-width: 760px) {
  .cart {
    right: 0.4rem;
    top: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .cart {
    margin: 0;
    left: 1rem;
    right: 1rem;
    top: 4.5rem;
    width: auto;
  }
  .cart button {
    width: auto;
    margin: 0.5rem;
  }
}
/* 
*/
/* 
 */
/* Product Section */
.product-container {
  margin: 4rem 7rem;
  display: grid;
  grid-template-columns: 24rem 26rem;
  justify-content: space-around;
  align-items: center;
}

/* 
Image Section
 */
.img-section {
  width: 23rem;
  height: 28rem;
}
.productMain-image {
  border-radius: 0.9rem;
  width: 23.4rem;
  height: 24rem;
  object-fit: cover;
  cursor: pointer;
}
.productImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.4rem;
}
.img-box {
  width: 5rem;
  height: 4.5rem;
}
.product-image {
  width: 100%;
  height: 100%;
  border-radius: 0.9rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.8s all ease;
}
.product-image:hover {
  opacity: 0.4;
}
.img-active {
  opacity: 0.4;
}
.img-active-border {
  border: 2px solid var(--clOrange);
  border-radius: 0.9rem;
}
.mobile-btn {
  display: none;
}
/* 
*/
/* TEXT SECTION */

.text-section p {
  color: var(--darkgrayishBlue);
}
.product-text {
  padding: 0.6rem 0;
}
.text-section span {
  color: var(--clWhite);
  background-color: var(--clBlack);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
.price {
  text-decoration: line-through;
}
.product-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.purchase-no {
  background-color: var(--lightgrayishBlue);
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 7rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.9rem;
}
.purchase-no img {
  cursor: pointer;
  transition: 0.8s all ease;
}
.purchase-no img:hover {
  opacity: 0.6;
}
.add-cart-btn {
  background-color: var(--clOrange);
  width: 16rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  color: var(--clBlack);
  font-weight: 700;
  text-align: center;
  transition: 0.8s all ease;
}
.add-cart-btn img {
  height: 1rem;
}
.add-cart-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1070px) {
  .product-container {
    gap: 0.7rem;
    margin: 4rem 3rem;
    grid-template-columns: 20rem 22rem;
  }
  .img-section {
    width: 20rem;
  }
  .productMain-image {
    width: 20rem;
  }
}
@media screen and (max-width: 760px) {
  .product-container {
    margin: 0;
    padding-top: 4rem;
    grid-template-columns: 15rem 17rem;
  }
  .img-section {
    width: 15rem;
  }
  .productMain-image {
    width: 15rem;
  }
}
@media screen and (max-width: 500px) {
  .product-container {
    margin: 0;
    padding: 0;
    display: block;
  }
  /* img section */
  .img-section {
    width: 100%;
    height: 21rem;
  }
  .img-wra {
    position: relative;
    width: 100%;
  }
  .productMain-image {
    width: 100%;
    height: 20rem;
    border-radius: 0;
    cursor: auto;
  }
  .mobile-btn {
    position: absolute;
    background-color: var(--clWhite);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .mobilebtn-previous {
    left: 0.6rem;
  }
  .mobilebtn-next {
    right: 0.6rem;
  }
  .mobile-btn:hover .icon {
    filter: brightness(0) saturate(100%) invert(58%) sepia(100%) saturate(600%)
      hue-rotate(345deg);
  }
  .productImages {
    display: none;
  }
  /* text section */
  .text-section {
    margin: 0 1.4rem;
  }
  .text-section h1 {
    font-size: 1.5rem;
  }
  .product-prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6rem;
  }
  .product-btns {
    display: block;
  }
  .purchase-no {
    width: auto;
    margin-bottom: 0.8rem;
  }
  .add-cart-btn {
    width: 100%;
    margin-bottom: 0.8rem;
  }
}
/* 
*/
/* 
 */
/*  LightBox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
.lightbox-Container {
  max-width: 35rem;
}
.btn-closeCon {
  display: flex;
  justify-content: flex-end;
  align-items: top;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.btn-close {
  cursor: pointer;
  height: 1.3rem;
  transition: filter 0.3s ease;
  filter: brightness(0) invert(1);
  transition: 0.8s all ease;
}
.btn-close:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(100%) saturate(600%)
    hue-rotate(345deg);
}
.lightboxSlider {
  position: relative;
}
.lightboxMain-image {
  width: 27rem;
  height: 26rem;
  border-radius: 0.9rem;
  object-fit: cover;
}
.btn {
  background-color: var(--clWhite);
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 119;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover .icon {
  filter: brightness(0) saturate(100%) invert(58%) sepia(100%) saturate(600%)
    hue-rotate(345deg);
}
.btn-previous {
  left: 0;
  transform: translate(-50%, -50%);
}
.btn-next {
  right: 0;
  transform: translate(50%, -50%);
}
.lightboxthumbnailImages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.4rem;
}
.lightboxImg-box {
  background-color: var(--lightgrayishBlue);
  border-radius: 0.9rem;
  width: 5rem;
  height: 4.5rem;
}
.lightboxImg-box:focus {
  outline: none;
}
.lightboxthumbnail-image {
  width: 5rem;
  height: 4.5rem;
  border-radius: 0.9rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.8s all ease;
}
.lightboxthumbnail-image:hover {
  opacity: 0.4;
}
.lightboxImg-active {
  opacity: 0.4;
}
.lightboxImg-active-border {
  border: 2px solid var(--clOrange);
  border-radius: 0.9rem;
}
