@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* .source-code-pro-<uniquifier> {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  /* background-color: aquamarine; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.9rem 0;
}
button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 0em 0em 0em 0em;
  padding-block: 0;
  padding-inline: 0;
}

/* NAVBAR */
.navbar {
  height: 6rem;
  margin: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.nav-left {
  display: flex;
}
.nav-left h2 {
  font-size: 2rem;
}
.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  height: 6rem;
  padding-bottom: 2.2rem;
}
.nav-link:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-btn {
  border: none;
  background-color: white;
  text-align: center;
}
.nav-btn p {
  position: absolute;
  top: 1rem;
  margin-left: 0.6rem;
  z-index: 3;
  background-color: hsl(26, 100%, 55%);
  color: hsl(223, 64%, 98%);
  width: 1.3rem;
  border-radius: 0.9rem;
}
.cart-img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.avatar-img {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.avatar-img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

/* 
*/
/* 
 */
/* Cart */
.cart {
  position: fixed;
  width: 22rem;
  min-height: 13rem;
  right: 5rem;
  top: 5.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.9rem;
  display: none;
}
.cart h3 {
  padding: 0.2rem 0 1.1rem 1.2rem;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.emptyCart {
  color: hsl(219, 9%, 45%);
  text-align: center;
  padding-top: 2.5rem;
}
.cartInfo {
  display: grid;
  grid-template-columns: 3rem 1fr 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem;
}

.cartSec-img {
  width: 3rem;
  height: 3rem;
  justify-self: flex-start;
  padding-left: 0.3rem;
}
.cartInfo p {
  font-size: 0.8rem;
  justify-self: center;
  padding-left: 0.3rem;
  line-height: 1.5;
}
.total-price {
  font-weight: 700;
  font-size: 1rem;
}
.delete-img {
  cursor: pointer;
  justify-self: end;
  padding-right: 0.7rem;
}
.cart button {
  background-color: hsl(26, 100%, 55%);
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  text-align: center;
  margin: 0.5rem 1rem;
  transition: 0.8s all ease;
}
.cart button:hover {
  opacity: 0.5;
}
/* 
*/
/* 
 */
/* Next Section */
.product-container {
  margin: 4rem 7rem;
  display: grid;
  grid-template-columns: 24rem 26rem;
  justify-content: space-around;
  align-items: center;
}

/* 
Image Section
 */
.img-section {
  width: 23rem;
  height: 28rem;
}
.productMain-image {
  border-radius: 0.9rem;
  width: 23.4rem;
  height: 24rem;
  object-fit: cover;
  cursor: pointer;
}
.productImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.4rem;
}
.img-box {
  width: 5rem;
  height: 4.5rem;
}
.product-image {
  width: 100%;
  height: 100%;
  border-radius: 0.9rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.8s all ease;
}
.product-image:hover {
  opacity: 0.4;
}
.img-active {
  opacity: 0.4;
}
.img-active-border {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 0.9rem;
}
/* 
*/
/* TEXT SECTION */
.text-section {
}
.text-section p {
  color: hsl(219, 9%, 45%);
}
.product-text {
  padding: 0.6rem 0;
}
.text-section span {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
.price {
  text-decoration: line-through;
}
.product-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.purchase-no {
  background-color: hsl(223, 64%, 98%);
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 7rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.9rem;
}
.purchase-no img {
  cursor: pointer;
  transition: 0.8s all ease;
}
.purchase-no img:hover {
  opacity: 0.6;
}
.add-cart-btn {
  background-color: hsl(26, 100%, 55%);
  width: 16rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  text-align: center;
  transition: 0.8s all ease;
}
.add-cart-btn img {
  height: 1rem;
}
.add-cart-btn:hover {
  opacity: 0.6;
}

/* 
*/
/* 
 */
/*  LightBox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  padding-top: 4.5rem;
  z-index: 100;
}
.lightbox-Container {
  max-width: 35rem;
}
.btn-closeCon {
  display: flex;
  justify-content: flex-end;
  align-items: top;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.btn-close {
  cursor: pointer;
  height: 1.3rem;
  transition: filter 0.3s ease;
  filter: brightness(0) invert(1);
  transition: 0.8s all ease;
}
.btn-close:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(100%) saturate(600%)
    hue-rotate(345deg);
}
.lightboxSlider {
  position: relative;
}
.lightboxMain-image {
  width: 27rem;
  height: 26rem;
  border-radius: 0.9rem;
  object-fit: cover;
}
.btn {
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover .icon {
  filter: brightness(0) saturate(100%) invert(58%) sepia(100%) saturate(600%)
    hue-rotate(345deg);
}
.btn-previous {
  left: 0;
  transform: translate(-50%, -50%);
}
.btn-next {
  right: 0;
  transform: translate(50%, -50%);
}
.lightboxthumbnailImages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.4rem;
}
.lightboxImg-box {
  background-color: hsl(223, 64%, 98%);
  border-radius: 0.9rem;
  width: 5rem;
  height: 4.5rem;
}
.lightboxImg-box:focus {
  outline: none;
}
.lightboxthumbnail-image {
  width: 5rem;
  height: 4.5rem;
  border-radius: 0.9rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.8s all ease;
}
.lightboxthumbnail-image:hover {
  opacity: 0.4;
}
.lightboxImg-active {
  opacity: 0.4;
}
.lightboxImg-active-border {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 0.9rem;
}
